integration/Artifacts/Maps/ExampleXMLSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Type" type="xs:string"/>
  <xs:element name="Street" type="xs:string"/>
  <xs:element name="PostCode" type="xs:string"/>
  <xs:element name="Country" type="xs:string"/>
  <xs:element name="Address">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Type"/>
        <xs:element ref="Street"/>
        <xs:element ref="PostCode"/>
        <xs:element ref="Country"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Name" type="xs:string"/>
  <xs:element name="Addresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Address"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="Addresses"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
